%h2 Edit Club

= form_tag clubs_path(@club), :method => :put do

  = label :club, :name, 'Club Name'
  = text_field :club, 'name', :id => 'name'
    
  = label :club, :description, 'Description'
  = text_field :description, 'description', :id => 'description'

  = submit_tag 'Update Club'
