%h2.text-center Create Your Account

= form_tag dashboard_index_path, :class => 'jumbotron rounded-lg' do
  %h5.text-center Account Details
  .form-row
    .form-group.col-md-6
      = label :welcome, 'First Name'
      = text_field :welcome, 'first_name', :type => 'text', :class => 'form-control', :id => 'first_name'
    .form-group.col-md-6
      = label :welcome, 'Last Name'
      = text_field :welcome, 'last_name', :type => 'text', :class => 'form-control', :id => 'last_name'
  .form-row
    .form-group.col-md-8
      = label :welcome, 'Email Address'
      = text_field :welcome, 'email_address', :placeholder => 'xxxxxxxx@binghamton.edu', :type => 'email', :class => 'form-control', :id => 'email_address'
    .form-group.col-md-4
      = label :welcome, 'B-Number'
      = text_field :welcome, 'b_number', :placeholder => 'Bxxxxxxxx', :type => 'text', :class => 'form-control', :id => 'b_number'
  .form-row
    .form-group.col-md-6
      = label :welcome, 'Username'
      = text_field :welcome, 'username', :type => 'text', :class => 'form-control', :id => 'username'
    .form-group.col-md-6
      = label :welcome, 'Password'
      = text_field :welcome, 'password', :type => 'password', :class => 'form-control', :id => 'password'
  .form-row
    .form-group.col-md-6
      = label :welcome, 'Major'
      = select :welcome, :major, ['N/A', 'Accounting', 'Biology', 'Chemistry', 'Computer Science', 'Economics', 'Finance', 'History', 'Math'], {}, :class => 'form-control', :id => 'major'
    .form-group.col-md-3
      = label :welcome, 'Graduation Month'
      = select :welcome, :grad_month, ['N/A', 'May', 'July', 'Decemeber'], {}, :class => 'form-control', :id => 'grad_month'
    .form-group.col-md-3
      = label :welcome, 'Graduation Year'
      = select :welcome, :grad_year, ['N/A', '2020', '2021', '2022', '2023'], {}, :class => 'form-control', :id => 'grad_year'
  .col-md-12.text-center
    = submit_tag 'Sign up', :class => 'btn btn-secondary btn-lg rounded-pill', :id => 'sign_up'
